<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="../../../libs/angular/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <input type="text" ng-model="num1" ng-change="calc()"/> *
    <input type="text" ng-model="num2" ng-change="calc()" /> =
    {{result}}
    <script type="text/javascript">
        var result = 'dk';
        function set(params) {
            result = params;
        }

        function get(params) {
            return result;
        }

        // 定义一个模块
        var app = angular.module('myApp', []);

        // AngularJS 中通过 provider 创建一个 service、factory等(配置阶段)。
        //Provider 中提供了一个 factory 方法 get()，它用于返回 value|service|factory。
        app.config(function ($provide) {
            $provide.provider('MathService', function () {
                this.$get = function () {
                    var factory = {};

                    factory.multiply = function (a, b) {
                        return a * 1 * b * 1;
                    }
                    return factory;
                };
            });
        });
        //app.value();
        //app.filter()
        //工厂模式
        //app.factory('searchFactory', function () {
        //})
        //构造函数
        //app.service('CalcService', function (MathService) {
        //    this.square = function (a,b) {
        //        return MathService.multiply(a, b);
        //    }

        //    //return {
        //    //    square: function (a, b) {
        //    //        return MathService.multiply(a, b);
        //    //    }
        //    //}
        //});

        app.service('CalcService', function () {

            this.square = function (a, b) {
                return a * 1 * b * 1;
            }
        })

        app.controller('myCtrl', ['$scope', '$http', 'CalcService', function ($scope, $http, CalcService) {
            $scope.num1 = 0;
            $scope.num2 = 0;

            //$http.get('').success(function () { })

            $scope.result = CalcService.square($scope.num1, $scope.num2);
            $scope.calc = function () {
                $scope.result = CalcService.square($scope.num1, $scope.num2);
            }
        }])
    </script>
</body>
</html>
